[color]
    diff = auto
    ui = auto
    status = auto
    branch = auto
    log = auto

[user]
    name = COLDTURNIP
    email = coldturnip@gmail.com
[core]
    editor = vim
    excludesfile = /Users/coldturnip/.gitignore_global
    ;autocrlf = true

; Use git as the differ editor
[diff]
    algorithm = histogram
    external = git_diff_wrapper
    tool = vimdiff
    ;tool = Kaleidoscope

[difftool]
    prompt = false

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true

[pager]
    diff =

[alias]
    dt = difftool
    mt = mergetool
    br = branch
    rb = rebase
    ;srb = svn rebase
    ;sci = svn dcommit
    st = status
    ci = commit
    ;co = checkout ; replaced by switch and restore
    sw = switch
    rt = restore
    ;pu = pull
    ;pullr = pull --rebase
    ;pur = pull --rebase
    ;ps = push
    cp = cherry-pick
    df = difftool
    rsh = reset --hard

[push]
    default = simple
