[color]
    diff = auto
    ui = auto
    status = auto
    branch = auto
    log = auto

[user]
    name = COLDTURNIP
    email = coldturnip@gmail.com
[core]
    editor = vim
    autocrlf = true

; Use git as the differ editor
[diff]
    external = git_diff_wrapper
    tool = vimdiff

[difftool]
    prompt = false

[pager]
    diff =

[alias]
    br = branch
    rb = rebase
    ;srb = svn rebase
    ;sci = svn dcommit
    st = status
    ci = commit
    co = checkout
    ;pu = pull
    ;pullr = pull --rebase
    ;pur = pull --rebase
    ;ps = push
    cp = cherry-pick
    df = difftool
    rsh = reset --hard

[push]
	default = simple
